:root {
    --bg: #F0F8FF;
    --primary: #87CEEB;

}

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    
}

body{
    font-family: 'poppins', sans-serif;
    background-color: var(--bg);
    color: #000;

}

.navbar{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 5%;
    background-color: var(--primary);
    border-bottom: 1px solid #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;

}

.navbar .navbar-logo{
    font-size: 2rem;
    font-weight: 700;
    color: #F0F8FF;
}

.navbar .navbar-logo span{
    color: #FF0000;
    
}


.navbar .navbar-nav a{

    color: #000;
    font-size: 1.2rem;
    display: inline-block;
    margin: 0 1.3rem;


}